{% extends 'base.html' %}
{% block content%}
<!---->
<div class="container">
  {% include 'tandp.html' %}
</div>
<div class="container">

    <h3 id="pudding">关于Pudding</h3>
    <p class="lead">Pudding是Teddy的爱人，善良，美丽，大方，目前生活、工作在厦门。</p>

    <h3 id="teddy">关于Teddy</h3>
    <p class="lead">Teddy是爱Pudding的人</p>
    <p>我的github<a href='https://github.com/saturnisbig'target='_blank'>saturnisbig@github</a></p>
    <p>Toy-projects: <a href="http://17relax.net" target="_blank">17relax</a></p>
</div>
<div id="push"></div>
{% endblock %}
