{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span2" id="story-nav">
      <div class="well slidebar-nav">
        <!--<div class="nav nav-tabs nav-stacked">-->
          <ul class="nav nav-list">
            <li><a href="#xiangshi">相识</a></li>
            <li><a href="#xiangzhi">相知</a></li>
            <li><a href="#xiangai">相爱</a></li>
            <li><a href="#xiangshou">相守</a></li>
          </ul>
        </div>
      </div>
      <div class="span10">
        <h4 id="xiangshi">相识</h4>
        <p>20岁那年，同学为媒，我们相识，他在北京，我在厦门两千公里之遥，爱情——从未想象</p>
        <p>那时他文雅阳光，专注于学习、运动我开朗活泼，奔波于社团、实践</p>
        <p>QQ是唯一的联系他说北京的雪如绒毛般柔软，我有了对远方的向往</p>
        <p>我说厦门的海如天空般宽广，他起了对家乡的想念那时，学业、理想、充斥着少年情怀！</p>
        <p>22岁那年，毕业将至，忙于绸缪未来联系就此搁置…………</p>

        <img class="img-polaroid " alt="相识" src="http://ww4.sinaimg.cn/large/95c2f5b8gw1eat0k0ebhlj20p00huqa9.jpg">
        <h4 id="xiangzhi">相知</h4>
        <p>23岁那年，凤凰花开花落后，再次相遇，他在福州，我在厦门三百公里之远，爱情——不敢奢望</p>
        <p>那时他斯文敦厚，工作一丝不苟我热情聪颖，待人落落大方</p>
         <p>24岁那年，诉说和聆听中，我们相知四年时光隔空相识、相知却从未相见~~~~</p>
        <img class="img-polaroid " alt="相知" src="http://ww4.sinaimg.cn/large/95c2f5b8gw1eat1j8te6pj20p00hu7bn.jpg">
        <h4 id="xiangai">相爱</h4>
        <p>25岁那年，默契和感动中，我们相爱</p>
        <p>开始一段别人未敢相信的异地恋</p>
        <p>和谐号见证了我们46次的相聚和别离月台上撒满了我们数不清的欢笑和泪水</p>
        <img class="img-polaroid " alt="相爱" src="http://ww3.sinaimg.cn/large/95c2f5b8gw1eat1k4jm7uj20p00hu45s.jpg">
        <h4 id="xiangshou">相守</h4>
        <p>26岁这年，十一月三十号，相信和珍惜中，我们坚定相守</p>
        <img class="img-polaroid " alt="相守" src="http://ww1.sinaimg.cn/large/95c2f5b8gw1eat1km1lzpj20p00hu442.jpg">
      </div>
    </div>

  </div>
  {% endblock %}
