<div class="row">
    <div class="span2 offset2">
        <img src="http://ww2.sinaimg.cn/large/95c2f5b8gw1eau7ohruc5j205k04x746.jpg" class="img-circle" style="width: 170px; height: 170px;" alt="Teddy">
        <h4 class="text-center"><a class="text-teddy" href="/aboutus#teddy">Teddy</a></h4>
    </div>
    <div class="span4">
        <blockquote class="bq-bl">
        <small>Love is patient;Love is kind;</small>
    <small>Love is not envious or boastfui or arrogant or rude;</small>
<small>It does not insist on its own way;</small>
<small>It is not irritable or resentful; </small>
<small>It does not rejoice in wrongdoing,but rejioices in the truth. </small>
<small>It bears all things,belives all things,</small>
<small>hopes all things,engures all things. </small>
<small>love never ends</small>
    </blockquote>
</div>
<div class="span2">
    <img src="http://ww2.sinaimg.cn/large/95c2f5b8gw1eau7n93viej205k05j747.jpg" class="img-circle" style="width: 170px; height: 170px;" alt="Pudding">
    <h4 class="text-center"><a class="text-love" href="/aboutud#pudding">Pudding</a></h4>
</div>
  </div>
  <hr class="feature-divider" />
